<!DOCTYPE html>
<html lang="en">
<head>
    <title>Application processe</title>
</head>
 <body>
        <h1>Application process part 2</h1>
             <ol>
                 <li><a href="/mentors">Mentors and schools page</a></li>
                 <li><a href="/all-school">All school page</a></li>
                 <li><a href="/mentors-by-country">Mentors by country page</a></li>
                 <li><a href="/contacts">Contacts page</a></li>
                 <li><a href="/applicants">Applicants page</a></li>
                 <li><a href="/applicants-and-mentors">Applicants and mentors page</a></li>
             </ol>
         </div>
     </body>
</html>